body{
background-color: #19A1AD;
}
#topimage{
    margin-top: -30%;
    margin-left: -15%;
    text-align: left;
    position: fixed;
}
#bottomimage{
    float: right;
    position: fixed;
    right: -2%;
    text-align: right;
    margin-right: -15%;
    top: 55%;
}
.card-container{

    position: absolute;
    border: 2px black;
    top: 27%;
    left: 40%;
    background: white;
    border-radius: 15px;
   }
.upper-container{
    height: 150px;
    /* background-image: url("/images/bg-pattern-card.svg"); */
    /* background-size: contain; */
    border-radius: 15px 15px 0px 0px;
}

.image-container{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    
}

.imgvictor{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transform: translate(135px,-55px);
    background-color: white;
    padding: 5px;
    margin-top: 10px;
  }

.lower-container{
    padding: 20px;
    padding-top: 60px;
    height: 250px;
}
h5{
    text-align: center;
    
}
h6{
    text-align: center;
    font-weight: lighter;
}
hr{
    margin-top: 40px;
    
}
/* .row{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
} */
#follow{
    font-size: 10px;
    font-weight: normal;

}
#likes{
    font-size: 10px;
    font-weight: normal;
}
#photos{
    font-size: 10px;
    font-weight: normal;
}
.light-span{
    
    font-weight: normal;
    color: rgb(128, 128, 128);
}
.light-span-key{
    font-size: 10px;
    font-weight: normal;
    color: rgb(128, 128, 128);
}
.card-content1{
    width: 29%;
    margin: 2%;
    text-align: center;
    font-weight: bold;
}
.card-content2{
    width: 29%;
    margin: 2%;
    text-align: center;
    margin-top: -20px;
}

.followers{
    font-size: 10px;
    font-weight: normal;
    color: rgb(128, 128, 128);
}
.likes{
    font-size: 10px;
    font-weight: normal;
    color: rgb(128, 128, 128);
}
.photos{
    font-size: 10px;
    font-weight: normal;
    color: rgb(128, 128, 128);
}


/*index1.html css starts here */
.card{

    position: absolute;
    border: 2px black;
    top: 27%;
    left: 40%;
    background: white;
    border-radius: 15px;
    
}
/* .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 360px;
    text-align: center;
    background: white;
    top: 27%;
    left: 40%;
    position: fixed;
  } */
  .card .card-body{
      position: relative;
  }
  .img-responsive{
     transform: translate(113px,100px);
     border-radius: 50%;
     padding-top: 0%;
  }
  .img1{
      border-radius: 15px 15px 0px 0px;
  } 
  .img2{
      width: 80px;
      height: 80px;
      border-radius: 50%;
      transform: translate(120px,-53px);
  }
  
  
  @media only screen and (min-width:200px) and (max-width:750px){
    .card-container{
    position: absolute;
    border: 2px black;
    top: 17%;
    left: 10%;
    right: 10%;
    background: white;
    border-radius: 15px;
    }
  }
@media only screen and (min-width:200px) and (max-width:750px){
    .card{
            position: absolute;
            border: 2px black;
            top: 17%;
            left: 10%;
            right: 10%;
            background: white;
            border-radius: 15px;
        }
    .imgvictor{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-top: 15px;
        transform: translate(103px,-55px);
        background-color: white;
        padding: 5px;
        }
    .lower-container{
        padding: 0px;
        padding-top: 30px;
        margin-bottom: -50px;
    }
    hr{
        margin-top: 25px;
    }
    .card-content1{
        width: 15%;
        margin-left: 8%;
        padding-left: 30px;
    }
    .card-content2{
        width: 25%;
        margin: 1%;
        margin-top: -20px;
        padding-left: 45px;
        text-align: center;
    }
    .likes{
        margin-left: 5px;
    }
    .photos{
        margin-left: -5px;
    }
    
}
@media only screen and (min-width:320px) and (max-width:500px){
    .imgvictor{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-top: 15px;
        transform: translate(90px,-55px);
        }
        .lower-container{
            padding: 0px;
            padding-top: 20px;
            margin-bottom: -60px;
        }
}
@media only screen and (min-width:360px) and (max-width:640px){
    .imgvictor{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-top: 15px;
        transform: translate(90px,-55px);
        margin-left: 15px;
        }
}
@media only screen and (min-width:411px) and (max-width:823px){
    .imgvictor{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-top: 15px;
        transform: translate(90px,-55px);
        margin-left: 28px;
        }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .card-container{

        position: absolute;
        border: 2px black;
        top: 7%;
        left: 29%;
        background: white;
        border-radius: 15px;
       }
       .imgvictor{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-top: 15px;
        transform: translate(90px,-55px);
        margin-left: 40px;
        }
}